---
title: Briefcase
slug: briefcase
tldr: Intelligent trial transcript management
stack: [ { name: 'Typescript', link: 'https://www.typescriptlang.org/'}, { name: 'Python', link: 'https://www.python.org/'}, { name: 'React', link: 'https://reactjs.org/'}, {name: 'Flask', link: 'https://flask.palletsprojects.com/en/2.0.x/'} ]
---

![Showcase of the Briefcase web-application showing its workspace page which displays a trial transcript and some comments in a sidebar.](/assets/projects/briefcase/Briefcase_Web_SignUp.png)

Briefcase is an intelligence trial transcript manager in development to support [Loyola Law School's Project for the Innocent](https://www.lls.edu/academics/experientiallearning/clinics/projectfortheinnocent/) efficiency in their noble mission. It combines Natural Language Process with a feature-rich interface to help provide a streamline process.

---

## Learn More
* [Seaver News Article on Briefcase](https://seavernews.lmu.edu/2021/05/20/computer-science-app-assists-loyola-laws-efforts-to-exonerate-the-wrongly-incarcerated/)


